body{
  background-color: #323d5a;
    color: white;
}
div {
    display: block;
    border: 1px solid black;
    text-align: center;
}


div#cookie {
}
img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
