.container{
  color: white;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url('coockie.jpg');
  background-size: cover;
}

h1 {
  font-size: 300%;
  color: #7F350B;
}

div {
    display: block;
    text-align: center;
    padding: 0.5%;
    color: #7F350B;
    font-size: 105%;
    font-family: 'Fascinate Inline', cursive;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

li {
  list-style: none;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}

button {
  background-color: #7F350B;
  color: white;
  padding: 0.5%;
}

ul {
  margin: auto;
  list-style: none;
  padding: 0;
}
